/* Universal */
* {	font-family: "Arial"; font-size: 12px; }
	
ul#planner_tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#planner_tabs li { display: inline; }
ul#planner_tabs li span { color: #000000; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; cursor: pointer;}
	
.Planner_linked_scroller_div { overflow-x: auto; max-width: 1180px; overflow-y:auto; max-height: 541px;}


/* Statistics Tab */	
#StP_right_side_title form { margin-left: 5px; margin-right: 0; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
#StP_right_side_title form #StP_show_statistics { margin-left: 40px; }
#StP_right_side_title form #StP_show_bonus { margin-left: 50px }	


/* Skills Tab */
#SkP_right_side_title form { margin-left: 5px; margin-right: 0; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
#SkP_right_side_title form #SkP_show_level_ranks { margin-left: 40px; }
#SkP_right_side_title form #SkP_show_total_ranks { margin-left: 40px }	
#SkP_right_side_title form #SkP_show_total_bonus { margin-left: 40px }	


/* Maneuvers Tab */
#ManP_left_side_title form { margin-left: 5px; margin-right: 0; margin-top: 0px; margin-bottom: 0px; padding: 0px; }

#ManP_right_side_title form { margin-left: 5px; margin-right: 0; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
#ManP_right_side_title form #ManP_show_level_ranks { margin-left: 40px; }
#ManP_right_side_title form #ManP_show_total_ranks { margin-left: 40px }	
